In [23]:
import os
import json
import pandas as pd

In [2]:
data_dir = '../twitter_nlp/data/annotated/wnut16/data/'

In [17]:
os.listdir(data_dir)

['dev_2015',
 'striptypes.py',
 'glove.840B.300d.wnut_filtered.txt',
 'test_notypes',
 'train_notypes',
 'dev_2015_notypes',
 'test',
 'dev_notypes',
 'glove_wnut_filtered.200d.txt',
 'train',
 'dev']

In [29]:
" to create json out of original data"

filename = 'test'
count = 0
sentences = []
sentence, ids = [], []
with open(data_dir + filename, 'r') as fp:
    for line in fp:
        if line != '\n':
            info = line.strip().split('\t')
            sentence.append(info[0])
            ids.append(info[1])
        else:
            sentences.append({'idx': count,
                              'example': sentence,
                             'label':ids})
            sentence,ids = [],[]
            count += 1
print(count)

with open(f'../{filename}.json', 'w') as fout:
    json.dump(sentences , fout)

3850

In [37]:
filename = 'train'
with open(f'../{filename}.json', "r") as read_file:
    data = json.load(read_file)

labeldict = dict()
for d in data:
    
    for l in d['label']:
        if l not in labeldict:
            labeldict[l] = 1
        else:
            labeldict[l] += 1
print(len(labeldict))

21

# Label Distribution
## 21 classes

```
train : {'O': 44007, 'B-geo-loc': 276, 'B-facility': 104, 'I-facility': 105, 'B-movie': 34, 'I-movie': 46, 'B-company': 171, 'B-product': 97, 'B-person': 449, 'B-other': 225, 'I-other': 320, 'B-sportsteam': 51, 'I-sportsteam': 23, 'I-product': 80, 'I-company': 36, 'I-person': 215, 'I-geo-loc': 49, 'B-tvshow': 34, 'B-musicartist': 55, 'I-musicartist': 61, 'I-tvshow': 31}

dev : {'O': 15133, 'B-other': 132, 'I-other': 97, 'B-geo-loc': 116, 'I-geo-loc': 42, 'B-product': 37, 'I-product': 121, 'B-facility': 38, 'I-facility': 39, 'B-company': 39, 'I-company': 10, 'B-person': 171, 'I-person': 95, 'B-sportsteam': 70, 'B-musicartist': 41, 'I-musicartist': 35, 'I-sportsteam': 13, 'B-movie': 15, 'I-movie': 15, 'B-tvshow': 2}

test : {'B-other': 584, 'I-other': 556, 'O': 55953, 'B-movie': 34, 'B-person': 482, 'I-person': 300, 'B-geo-loc': 882, 'B-company': 621, 'I-company': 265, 'B-product': 246, 'I-product': 500, 'B-musicartist': 191, 'I-musicartist': 140, 'B-sportsteam': 147, 'B-facility': 253, 'I-facility': 366, 'I-geo-loc': 219, 'I-movie': 48, 'I-sportsteam': 48, 'B-tvshow': 33, 'I-tvshow': 40}     
```

## References

* https://github.com/aritter/twitter_nlp

In [1]:
# original data analysis

# task 3 - automatic extraction of medical names from tweets

|data_split|nexamples|postives|
|--|--|--|
|train|50k|123|
|SMM4H18_train|~10k|4975|
|dev|~39k|105|
|test|?|?|

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
pwd

'/home/amansinha/bio-challenge/notebooks'

In [33]:
train_data = pd.read_csv('../data/BioCreative_TrainTask3.0.tsv', sep='\t')
train_data

,tweet_id,user_id,created_at,text,start,end,span,drug
0,525872716411580416,2333890110,2014-10-25,@Rhy_QD10 yeah irking he need his ass whoop I ...,-,-,-,-
1,809577207597244417,165916824,2016-12-16,Panda Express üêºüòõ,-,-,-,-
2,590918768269864960,2414667758,2015-04-22,Well..technology wins agains. People are fight...,-,-,-,-
3,237385144221192193,24324898,2012-08-20,@jennabennabear what happened?????,-,-,-,-
4,166288274300735488,181819579,2012-02-05,A first grade teacher asked her class to compl...,-,-,-,-
...,...,...,...,...,...,...,...,...
49995,760235205047320577,1143892999,2016-08-01,Damnnnnnnnnnn I didn't know it cost 20 to get ...,-,-,-,-
49996,860946084117577728,583610519,2017-05-06,I got good news today! @sieelyn_ &amp; Austin ...,-,-,-,-
49997,798113426644041729,21343364,2016-11-14,@MissSarahLou6 @CocaCola_GB what?? I never got...,-,-,-,-
49998,790015640174080000,65087044,2016-10-23,Every last episode was funny as fuck lol,-,-,-,-
49999,416993821474713600,1025811572,2013-12-28,@josiestolla now i don't do drama. bounce.,-,-,-,-

In [39]:
posdf = train_data.loc[train_data['start'] != '-']

In [59]:
#list(zip(posdf['text'].to_numpy(), posdf['start'].to_numpy(), posdf['end'].to_numpy() \        , posdf['span'].to_numpy()))

In [51]:
sample = "@Chocolate_jade_ oh lawdüò≠üò≠ that's kinda why I want to get the epidural üò© so I won't feel stitches üòÇ"
for i,s in enumerate(sample):
    print(i,s)

0 @
1 C
2 h
3 o
4 c
5 o
6 l
7 a
8 t
9 e
10 _
11 j
12 a
13 d
14 e
15 _
16
17 o
18 h
19
20 l
21 a
22 w
23 d
24 üò≠
25 üò≠
26
27 t
28 h
29 a
30 t
31 '
32 s
33
34 k
35 i
36 n
37 d
38 a
39
40 w
41 h
42 y
43
44 I
45
46 w
47 a
48 n
49 t
50
51 t
52 o
53
54 g
55 e
56 t
57
58 t
59 h
60 e
61
62 e
63 p
64 i
65 d
66 u
67 r
68 a
69 l
70
71 üò©
72
73 s
74 o
75
76 I
77
78 w
79 o
80 n
81 '
82 t
83
84 f
85 e
86 e
87 l
88
89 s
90 t
91 i
92 t
93 c
94 h
95 e
96 s
97
98 üòÇ

In [54]:
max(train_data.text.apply(lambda x : len(x)).to_numpy())

156

In [25]:
train_data.drug.unique()

array(['-', 'zofran', 'laxatives', 'fiber gummies', 'birth control',
       'tums', 'nyquil', 'sudafed', 'paracetamol', 'benadryl', 'advil',
       'epidural', 'depo-provera', 'pitocin', 'IVF injection', 'tylenol',
       'acetaminophen', 'white heat preworkout', 'lupron',
       'prenatal vitamins', 'menopur', 'aspirin', 'concerta',
       'painkillers', 'gaviscon', 'antibiotic', 'diclegis', 'warfarin',
       'antibiotics', 'ambien', 'nausea pills', 'nicotine', 'vitamin B',
       'COR creatine', 'gotu kola', 'melatonin', 'pain medicine',
       'percocet', 'anesthetic', 'nexium', 'iron pill',
       'hydrocortisone cream', 'zantac', 'IUD', 'vaccines', 'prenatals',
       'vitamins', 'botox', 'baby aspirin', 'castor oil', 'flu vaccine',
       'insulin', 'flu medication', 'steroids', 'entonox', 'pills',
       'nitrous oxide', 'unisom'], dtype=object)

In [60]:
50000/32

1562.5